<link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:400,900,700' rel='stylesheet' type='text/css'>

	head {

	}

		Body {
		text-align: center;
		background: url("1167-withouttext.png");
		font-family: 'Playfair Display', serif;
		color: #ffffff;
		position: center;
	}
h1 {
			margin-top: 35px;
			text-align: center;
			font-size: 72px;
			font-family: 'Playfair Display', serif;
}
ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
		width:175px;
    background-color: #E6B72D;
    padding: 5px 20px;
    margin-bottom: 20px;
		margin-top: 20px;
		    margin-bottom: 20px;
    color: #ffffff;
    cursor: pointer;
		border-radius: 15px;
			font-family: 'Abril Fatface', cursive;
		font-size: 16px;
}
ul#tabs li:hover {
    background-color: ##CCFFCC;
}
ul#tabs li.active {
    background-color: #ffffff;
		color: #E6B72D;
