link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:400,900,700'

body {
	background: url("file://~1167-withouttext.png");
}
h1 {
	margin-top: 35px;
	text-align: center;
	font-size: 72px;
	font-family: 'Playfair Display', serif;
}

button {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin: inherit;
	width:150px;
	height: 50px;
  cursor: pointer;
	border-radius: .5em;
	font-family: 'Abril Fatface', serif;
	font-size: 16px;
	background-color: #E6B72D;
	border-color: #f91791;
	color: #C22E75;
	box-shadow: 0 0 40px 40px #f1c40f inset, 0 0 0 0 #ff5858;
	transition: all 150ms ease-in-out;
}
button:hover {
	box-shadow: 0 0 10px 0 #ff5858 inset, 0 0 10px 0 #f1c40f;
}
