<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display:400,900,700' rel='stylesheet' type='text/css'>
<style>

	header {
		background-image: img src= "file:///Users/FHaider/Documents/Farishta%20Haider%20WDI%20Assignment%20website/Assets/Frish-Smaller.png";
		text-align: center;
	}
	a {color: blue;}
		a:link {color:blue; background-color:transparent; text-decoration:none}
		a:visited {color:orange; background-color:transparent; text-decoration:none}
		a:hover   {color:Red; background-color:transparent; text-decoration:none}

	h1 {
		font-size: 100px;
		font-family: 'Abril Fatface', cursive;
		background-color: white;
		      max-width: 1000px;
      margin: 0 auto;

	}
	h2 {font-size: 20px;
		font-family: 'Abril Fatface', cursive;
		background-color: white;
	}
	img {
		margin: 40px 0px 0px 0px
		border: 7px solid white;
	}
	.img {
    height:200px;
    width:200px;
}
	ul {
		font-family: 'Abril Fatface', cursive;
		font-size: 100px
		padding: 10px;
	}
	li {display: inline;
		padding: 0px 10px 0px 10px;
		color: black;
		font-size: 50px;
	}
	    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
    }
	Body {
		text-align: center;
		background: url("file:///Users/FHaider/Documents/Farishta%20Haider%20WDI%20Assignment%20website/Assets/ThinkstockPhotos-476149819-%5BConverted%5D.png");
		font-family: 'Playfair Display', serif;
		color: Black;
		background-color: white;
		position: center;
		text-align: center;
	}
		Footer {
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      font-family: 'Abril Fatface', cursive;
      position: center;
      	font-size: 40px;
	}
	button {
	height:60px;
    width:200px;
    font-family: 'Abril Fatface', cursive;
	font-size: 40px;
	color: black;
	background: white;
	border-radius: 20px;
	border: 3px solid black;
	margin-top: 20px;
	position: center;
	text-align: center;

	}

@media (max-width: 500px) {
			Footer {
      font-family: 'Abril Fatface', cursive;
      position: center;
      font-size: 20px;
     max-width: 500px
     margin: 0 auto;
}


	</style>
