@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Raleway");
@font-face {
  font-family: 'Audrey-Normal';
  src: url("Audrey-Normal_gdi.eot");
  src: url("Audrey-Normal_gdi.eot?#iefix") format("embedded-opentype"), url("Audrey-Normal_gdi.woff") format("woff"), url("Audrey-Normal_gdi.ttf") format("truetype"), url("Audrey-Normal_gdi.otf") format("opentype"), url("Audrey-Normal_gdi.svg#Audrey-Normal") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Audrey-Normal";
  src: url("fonts/Audrey-Normal.otf");
}

html {
  z-index: -1;
}

.menu, .menu-bg, .menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  border-width: 0 0 1px;
  z-index: 100;
  right: 30px;
  top: 30px;
}

.menu-bg {
  position: fixed;
  background: #f91791;
  transition: .25s;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
  box-shadow: 0 2px 3px black;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.menu-bg span a {
  text-decoration: none;
  color: #fff;
}

.menu-bg span a i {
  text-align: center;
  font-size: 24px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: block;
  line-height: 50px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #fff;
}

.menu-bg span a i:hover {
  background-color: #fff;
  color: #f91791;
}

.menu-bg span:hover {
  color: #f91791;
}

.menu-bg:hover {
  background-color: #fff;
  color: #f91791;
}

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: "Raleway", sans-serif;
  text-align: center;
  min-width: 25px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 5px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #f91791;
  color: #fff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #f91791;
  left: calc(0em - 10px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 10px);
  transform: translate(-0.5em, -50%);
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

body {
  color: black;
  width: 100%;
  height: 2000px;
  margin: 0;
}

body .banner {
  padding: 20px;
  margin-left: 0;
  margin-top: 0;
  height: 300px;
  background-color: #95C6C4;
  overflow: hidden;
  text-align: center;
  border: 3px solid #070707;
  display: block;
}

body .banner .heading {
  font-family: "Audrey-Normal";
  font-size: 50px;
  letter-spacing: 20px;
  margin-top: 9%;
}

body .banner .subHeading {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  margin-top: 0%;
  letter-spacing: 20px;
}

body header {
  z-index: 10;
  padding: 0.25em 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 50px;
  color: #070707;
  border-bottom: 3px solid #070707;
  border-left: 3px solid #070707;
  border-right: 3px solid #070707;
  font-family: "Audrey-Normal";
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}

body header div {
  width: 30%;
  display: inline-flex;
}

body header div a {
  text-decoration: none;
  display: inline-flex;
  font-size: 20px;
  color: #070707;
}

body header div a:hover {
  color: #95C6C4;
}

body header div a:hover i {
  color: #95C6C4;
}

body header div a i {
  font-size: 20px;
  color: #070707;
}

body header .email {
  float: left;
  padding-left: 10%;
}

body header .email a {
  margin-top: 15px;
}

body header .email a:hover {
  color: #95C6C4;
}

body header .email a:hover i {
  color: #95C6C4;
}

body header .email a i {
  padding-top: 4px;
  margin-right: 20px;
}

body header .tel a {
  margin-top: 17px;
  padding-left: 20px;
  font-size: 18px;
}

body header .tel a i {
  padding-right: 2px;
  transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
  font-size: 18px;
  margin-right: 20px;
}

body header .tel a:hover {
  color: #95C6C4;
}

body header .website {
  float: right;
  margin-left: -10px;
}

body header .website a {
  margin-top: 15px;
}

body header .website a i {
  margin-left: -10px;
  padding-top: 3px;
  font-size: 18px;
  margin-right: 20px;
}

body header .website a:hover {
  color: #95C6C4;
}

body .container {
  border-left: 3px solid #070707;
  border-right: 3px solid #070707;
}

body .container .row {
  padding: 25px 5% 10px 5%;
}

body .container .row .profile h2 {
  font-family: "Audrey-Normal";
  color: #070707;
}

body .container .row .profile p {
  font-family: "Montserrat";
  color: #070707;
}

body .container .mainRow {
  margin-bottom: -20px;
  padding-bottom: 20px;
  height: 2000px;
}

body .container .mainRow .leftColumn {
  margin-left: 5%;
  width: 25%;
  display: inline-block;
  position: relative;
}

body .container .mainRow .leftColumn .section {
  margin-bottom: 50px;
}

body .container .mainRow .leftColumn .section h2 {
  font-family: "Audrey-Normal";
  color: #070707;
}

body .container .mainRow .leftColumn .section ul {
  list-style: none;
}

body .container .mainRow .leftColumn .section ul li {
  font-family: "Montserrat";
  color: #070707;
  font-size: 15px;
  line-height: 20px;
  text-indent: -1em;
}

body .container .mainRow .leftColumn .section ul li::before {
  color: #95C6C4;
  content: "•";
  padding-right: 4px;
  vertical-align: middle;
  font-size: 30px;
}

body .container .mainRow .leftColumn .hardSkills {
  padding-left: 0px;
}

body .container .mainRow .leftColumn .softSkills {
  padding-left: 0px;
}

body .container .mainRow .leftColumn .education {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 20px;
}

body .container .mainRow .leftColumn .education .blue {
  color: #95C6C4;
  font-weight: 500;
  font-size: 18px;
}

body .container .mainRow .leftColumn .social .socialContainer {
  margin-left: 3%;
  width: 55px;
}

body .container .mainRow .leftColumn .social .socialContainer a {
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin: 20px;
}

body .container .mainRow .leftColumn .social .socialContainer a i {
  text-align: center;
  font-size: 24px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid #95C6C4;
  display: block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 0 5px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #95C6C4;
}

body .container .mainRow .leftColumn .social .socialContainer a i:hover {
  background-color: #95C6C4;
  color: #fff;
}

body .container .mainRow .rightColumn {
  margin-left: -2%;
  position: relative;
  width: 69%;
  display: inline-block;
  float: right;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

body .container .mainRow .rightColumn .experience .sectionTitle {
  font-family: "Audrey-Normal";
  color: #070707;
}

body .container .mainRow .rightColumn .experience .job {
  padding-bottom: 15px;
  padding-right: 5%;
  margin-top: 10px;
  color: #070707;
}

body .container .mainRow .rightColumn .experience .job .infoContainer {
  font-family: "Raleway";
  font-size: 12px;
  line-height: 10px;
}

body .container .mainRow .rightColumn .experience .job .infoContainer .title {
  color: #95C6C4;
}

body .container .mainRow .rightColumn .experience .job .infoContainer .year {
  color: #8c8c8c;
}

body .container .mainRow .rightColumn .experience .job ul {
  list-style: none;
}

body .container .mainRow .rightColumn .experience .job ul li {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 20px;
  color: #070707;
  text-indent: -1em;
  padding-bottom: 5px;
}

body .container .mainRow .rightColumn .experience .job ul li::before {
  color: #95C6C4;
  content: "•";
  padding-right: 4px;
  vertical-align: middle;
  font-size: 30px;
}

.sticky {
  background-color: #000;
  color: #fff;
  z-index: 10;
  margin-top: -2px;
}

.sticky a {
  color: #fff;
}

.sticky a i {
  color: #fff;
}

footer {
  width: 99.5%;
  border: 3px solid #070707;
  bottom: 0;
  padding: 10px 0;
  background-color: #95C6C4;
  text-align: center;
  font-family: "Audrey-Normal";
}

footer .copy {
  font-family: "Montserrat";
}

@media only screen and (min-width: 402px) {
  body header .email {
    padding-left: 60px;
  }
  body header .website {
    float: none;
  }
  .profile {
    height: 170px;
  }
  .profile h2 {
    font-size: 26px;
  }
  .profile p {
    font-size: 21px;
  }
  .mainRow {
    height: 1900px;
  }
  .leftColumn {
    height: 100%;
  }
  .leftColumn .section ul li {
    font-size: 15px;
    line-height: 20px;
    margin-left: -30px;
  }
  .rightColumn {
    height: 100%;
  }
  .rightColumn .experience .job {
    padding-right: 20px;
  }
  .rightColumn .experience .job .infoContainer .title {
    font-size: 18px;
  }
  .rightColumn .experience .job ul li {
    font-size: 13px;
    line-height: 20px;
    color: #070707;
    text-indent: 0em;
    padding-bottom: 8px;
    margin-left: -13px;
  }
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body header .email {
    padding-left: 60px;
  }
  body header .website {
    float: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body header .email {
    padding-left: 60px;
  }
  body header .website {
    float: none;
  }
  .mainRow {
    height: 1900px;
  }
  .experience .job {
    padding-right: 20px;
  }
  .experience .job .infoContainer .title {
    font-size: 22px;
  }
  .experience .job ul li {
    font-size: 13px;
    line-height: 20px;
    color: #070707;
    text-indent: 0em;
    padding-bottom: 8px;
    margin-left: -13px;
  }
  .leftColumn .section ul li {
    font-size: 18px;
    line-height: 28px;
    margin-left: -14px;
  }
  .leftColumn .hardSkills {
    padding-left: 0px;
  }
  .leftColumn .softSkills {
    padding-left: 0px;
  }
  .leftColumn .education {
    font-size: 15px;
    line-height: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .email {
    padding-left: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
