

$mainFont: "Audrey-Normal";
$subFont: "Montserrat";
$rale: "Raleway";



$blue: #95C6C4;
$mainColor: #070707;
$gray: #8c8c8c;
$pink: #f91791;
// 
// #about{
// 	float: left;
// 	width: 100%;
//
// 	.bg-image{
//
// 	}
// 	.holder{
// 		margin: 0 5%;
// 		.title{
// 			text-align: center;
// 			margin-bottom: 35px;
// 			h2{
// 				font-size: 50px;
// 				position: relative;
// 				display: inline-block;
// 				padding: 0 0 12px;
// 				text-transform: uppercase;
// 				font-family: "Audrey-Normal", monospace;
// 				&::after{
// 					position: absolute;
// 					content: '';
// 					height: 4px;
// 					background-color: #000;
// 					width: 50%;
// 					margin: 0 auto;
// 					clear: both;
// 					bottom: 0;
// 					left: 0;
// 					right: 0;
// 				}
// 			}
//
// 		}
// 		#tabs-container{
// 			.tabs-menu{
// 				li.current{
//
// 				}
// 				li{
//
// 				}
// 			}
// 		}
// 		.tab{
// 			#bio{
//
// 			}
// 			#education{
//
// 			}
// 			#experience{
//
// 			}
// 			#skills{
// 				.holder{
// 					.row{
// 						margin-top: 25px;
// 						padding: 0 0 20px 0;
// 						overflow: hidden;
// 						.col-md-12{
// 							position: relative;
// 						  min-height: 1px;
// 						  padding-right: 15px;
// 						  padding-left: 15px;
// 							width: 100%;
// 							h2.skillsMainHeading{
// 								font-family: 'Abril Fatface';
// 								letter-spacing: -1px;
// 								font-size: 40px;
// 								color: #f91791;
// 								/* padding-bottom: 50px */
// 							}
// 							h2.skillsHeading{
// 								/* font-family: 'Abril Fatface'; */
// 								font-size: 30px;
// 								color: #000;
// 							}
// 							.skillsGrid{
// 								/* margin-top: 30px; */
// 								margin: 20px 0 0 0;
// 								padding: 0;
// 								list-style: none;
// 								display: block;
// 								text-align: center;
// 								width: 100%;
// 								&::before{
// 									content: '';
// 									display: grid;
// 								}
// 								&::after{
// 									content: '';
// 									display: grid;
// 									clear: both;
// 								}
// 								li{
// 									width: 213px;
// 									height: 50px;
// 									display: inline-block;
// 									margin: 5px;
// 									vertical-align: middle;
// 									text-align: left;
// 									margin: 25px 25px 5px 0px;
// 									i{
//
// 										display: inline-block;
// 										width: 40px;
// 										height: 40px;
//
// 										text-align: center;
// 										font-size: 35px;
// 										-moz-transition: all 0.25s ease-in-out;
// 										-o-transition: all 0.25s ease-in-out;
// 										-webkit-transition: all 0.25s ease-in-out;
// 										transition: all 0.25s ease-in-out;
//
// 										color: $pink;
// 										padding-top: 10px;
//
// 									}
// 									h4{
// 										margin-left: 15px;
// 									  margin-top: -14px;
// 										display: inline-block;
// 										font-size: 20px;
// 										font-family: 'Raleway';
// 										color: #000;
// 										text-align: left;
// 										vertical-align: middle;
// 										-moz-transition: all 0.25s ease-in-out;
// 										-o-transition: all 0.25s ease-in-out;
// 										-webkit-transition: all 0.25s ease-in-out;
// 										transition: all 0.25s ease-in-out;
// 									}
// 								}
// 								li.widerLI{
// 									width: 300px;
// 									i{
//
// 									}
// 									h4{
//
// 									}
// 								}
// 								li.widerLI2{
// 									width: 275px;
// 									i{
//
// 									}
// 									h4{
//
// 									}
// 								}
// 								li.shorterLI{
// 									width: 100px;
// 									i{
//
// 									}
// 									h4{
//
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
//
// 	}
// }

// header.close {
//
// 	nav.nav {
//
// 		div.container {
// 			.menu, .menu-bg, .menu-burger {
// 			  position: fixed;
// 			  width: 50px;
// 			  height: 50px;
// 			  font-size: 30px;
// 			  text-align: center;
// 			  border-radius: 100%;
// 			  right: 25px;
// 			  top: 25px;
// 			  border-width: 0 0 1px;
// 			  z-index: 100;
// 			}
//
// 			div.menu-bg {
// 				position: fixed;
// 				background: #f91791;
// 				pointer-events: none;
// 				transition: .3s;
// 				right: 50px;
// 				top: 50px;
// 				transform: translate3d(50%, -50%, 0);
// 				transform-origin: center center;
// 				box-shadow: 0 2px 3px rgba(0,0,0,1);
// 				&.fs{
// 					transform: translate3d(50%, -50%, 0);
// 					width: 2000vw;
// 					height: 2000vw;
// 				}
// 			}
//
// 			div.menu-burger {
// 				position: fixed;
// 				color: #fff;
// 				padding-top: 10px;
// 				-webkit-user-select: none;
// 				-moz-user-select: none;
// 				-ms-user-select: none;
// 				cursor: pointer;
// 				transition: .4s;
// 				transform-origin: center;
// 				&.fs {
// 			    transform: rotate(-180deg) translateY(10px);
// 			    color: #fff;
// 			  }
// 			}
//
// 			.menu-items {
// 			  font-family: 'Abril Fatface', serif;
// 			  font-size: 125px;
// 			  line-height: 120px;
// 			  position: fixed;
// 			  color: #fff;
// 			  width: 100%;
// 			  text-align: left;
// 			  opacity: 0;
// 			  transition: .4s;
// 			  margin-top: 25px;
// 			  transform: translateY(-200%);
// 			  pointer-events: none;
// 			  -webkit-font-smoothing: antialiased;
// 			  z-index: 101;
// 			  div {
// 			    color: #fff;
// 			    transition: 1s;
// 			    opacity: 0;
// 			    a {
// 			      color: #fff;
// 			      text-decoration: none;
// 			    }
// 			  }
// 			  &.fs {
// 			    transform: translateY(0);
// 			    pointer-events: auto;
// 			    opacity: 1;
// 			    div {
// 			      color: #fff;
// 			      opacity: 1;
// 			      a {
// 			        color: #fff;
// 			        text-decoration: none;
// 			        &:hover {
// 			          color: #000;
// 			          text-decoration: none;
// 			          transition: .4s;
// 			        }
// 			      }
// 			    }
// 			  }
// 			}
// 		}
// 	}
// }
//
// section#welcome {
//
// 	div.skewed-bg {
// 		padding: 200px 0;
// 		-webkit-transform: skew(0deg, -3deg);
// 		-moz-transform: skew(0deg, -3deg);
// 		-ms-transform: skew(0deg, -3deg);
// 		-o-transform: skew(0deg, -3deg);
// 		transform: skew(0deg, -3deg);
// 		margin-top: -200px;
// 		background: linear-gradient(19deg, #000, #000);
//
// 		div.content {
// 			-webkit-transform: skew(0deg, 3deg);
// 			-moz-transform: skew(0deg, 3deg);
// 			-ms-transform: skew(0deg, 3deg);
// 			-o-transform: skew(0deg, 3deg);
// 			transform: skew(0deg, 3deg);
// 			text-align: center;
//
// 			div.welcome {
//
// 				i.logo {
//
// 				}
//
// 				h1.fade-in {
//
// 					strong {
//
// 					}
// 				}
//
// 				p.fade-in {
//
// 					strong {
//
// 					}
//
// 					span.rw-words {
//
// 						span {
//
// 						}
// 					}
// 				}
//
// 				div.buttonContainer {
//
// 					a.button {
//
// 					}
// 				}
//
// 				div.scroll-down {
//
// 					a.whiteFont {
//
// 						i.fa {
//
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
//
// #resume {
// 	background-color: #fff;
// 	padding: 80px 0 210px 0;
// 	text-align: center;
// 	position: relative;
//
// 	.holder {
// 		max-width: 1000px;
// 		margin: 0 auto;
//
// 		.title {
//
// 			h2 {
//
// 			}
// 		}
//
// 		.toggles {
//
// 			.current {
//
// 			}
//
// 			.button {
// 				font-family: "Abril Fatface", serif;
// 				background-color: #fff;
// 				color: #000;
// 				border: 1px solid #f91791;
// 				-moz-border-radius: 3px;
// 				-webkit-border-radius: 3px;
// 				border-radius: 3px;
// 				text-decoration: none;
// 				height: 45px;
// 				line-height: 47px;
// 				min-width: 130px;
// 				display: inline-block;
// 				text-transform: uppercase;
// 				position: relative;
// 				z-index: 0;
// 				overflow: hidden;
// 				font-size: 18px;
// 				text-align: center;
// 				cursor: pointer;
// 				&::before{
// 					// filter: progid:DXImageTransform .Microsoft .Alpha(Opacity=0);
// 					opacity: 0;
// 					background: #f91791;
// 					content: '';
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					width: 150%;
// 					height: 100%;
// 					-moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
// 					-ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
// 					-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
// 					transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
// 					-moz-transition: -moz-transform 0.4s, opacity 0.4s, background-color 0.4s;
// 					-o-transition: -o-transform 0.4s, opacity 0.4s, background-color 0.4s;
// 					-webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background-color 0.4s;
// 					transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
// 					-moz-transform-origin: 0% 100%;
// 					-ms-transform-origin: 0% 100%;
// 					-webkit-transform-origin: 0% 100%;
// 					transform-origin: 0% 100%;
// 					z-index: -1;
// 				}
// 				&::after{
//
// 				}
// 				&:hover{
// 					color: #fff;
// 					-moz-transition: all 0.5s;
// 					-o-transition: all 0.5s;
// 					-webkit-transition: all 0.5s;
// 					transition: all 0.5s;
// 					// filter: progid:DXImageTransform .Microsoft .Alpha(enabled=false);
// 					// opacity: 1;
// 				}
//
// 			}
// 		}
// 	}
//
// 	.grid {
// 		margin-top: 50px;
// 		&::after{
// 			content: '';
// 			display: block;
// 			clear: both;
// 		}
//
// 		.grid-sizer {
// 			width: 30%;
//
// 		}
//
// 		.grid-item {
// 			  overflow: hidden;
//
// 			img {
// 				display: block;
// 			  max-width: 100%;
// 				&:hover{
// 					opacity: 0.4;
// 					filter: alpha(opacity=40);
// 				}
// 			}
//
// 			.project_info {
// 				width: 95%;
// 				height: 94%;
// 				font-family: "Abril Fatface", serif;
// 				font-size: 50px;
// 				color: #000;
// 				padding-top: 80px;
// 				background: #f91791;
// 					outline:1px solid #000;
// 				position: absolute;
// 				top: 10px;
// 				left: 10px;
// 				opacity: 0;
// 				transition: all 0.1s ease-in;
// 				-webkit-transition: all 0.1s ease-in;
// 				-moz-transition: all 0.1s ease-in;
// 				-o-transition: all 0.1s ease-in;
// 				overflow: hidden;
// 				&:hover{
// 					opacity: 0.9;
// 				}
// 				& span{
// 					display: block;
// 					font-size: 16px;
// 				}
//
// 				.space20 {
// 					margin-top: 20px;
// 				}
//
// 				.gal_btn {
//
// 				}
// 			}
//
// 			.pop {
//
// 				.gal_btn {
// 					position:absolute;
// 					top:4%;
// 					right:4%;
// 					cursor:pointer;
// 					font-size: 24px;
// 					-moz-border-radius: 50%;
// 					-webkit-border-radius: 50%;
// 					border-radius: 50%;
// 					border: 2px solid #f91791;
// 					display: inline-block;
// 					width: 55px;
// 					height: 55px;
// 					line-height: 55px;
// 					padding: 0 5px;
// 					-moz-transition: all 0.25s ease-in-out;
// 					-o-transition: all 0.25s ease-in-out;
// 					-webkit-transition: all 0.25s ease-in-out;
// 					transition: all 0.25s ease-in-out;
// 					color: #f91791;
// 					text-align: center;
// 					&:hover{
// 						background:  #f91791;
// 						color: #fff;
// 						text-shadow: 1px 1px 1px #000;
// 						-moz-transition: all 0.25s ease-in-out;
// 						-o-transition: all 0.25s ease-in-out;
// 						-webkit-transition: all 0.25s ease-in-out;
// 						transition: all 0.25s ease-in-out;
// 					}
//
// 				}
//
// 				h6 {
// 					padding:50px 30px 20px 30px;
// 					color: #f91791;
// 					font-size:50px;
//
// 				}
//
// 				.techUsed {
// 					/*position: absolute;*/
// 					top: 0;
// 					left: 0;
// 					width: 100%;
// 					font-family: 'Raleway', sans-serif;
// 					font-weight: 100;
// 					font-size: 1.75em;
// 					text-align: center;
// 					color: #000;
// 					-webkit-animation: 3s fade;
// 					animation: 3s fade;
//
// 					h3 {
// 						display: inline-block;
// 						position: relative;
// 						padding: .5em .5em;
// 						&::before{
// 							display: block;
// 							content: '';
// 							width: 110%;
// 							margin-left: -5%;
// 							margin-bottom: 5%;
// 							border-top: 1px solid #000;
// 							-webkit-animation: 2.5s draw;
// 							animation: 2.5s draw;
// 							-moz-animation-delay: .5s;
// 							-webkit-animation-delay: .5s;
// 							animation-delay: .5s;
// 						}
// 						&::after{
// 							display: block;
// 							content: '';
// 							position: absolute;
// 							bottom: 0;
// 							right: 0;
// 							width: 100%;
// 							border-bottom: 1px solid #000;
// 							-webkit-animation: 2.5s draw-bottom;
// 							animation: 2.5s draw-bottom;
// 							-moz-animation-delay: .5s;
// 							-webkit-animation-delay: .5s;
// 							animation-delay: .5s;
// 						}
//
// 						strong {
//
// 						}
// 					}
// 				}
//
// 				p {
//
// 					strong {
//
// 					}
// 				}
//
// 				.links {
//
// 					.button {
//
// 						.fa {
//
// 						}
// 					}
// 				}
// 			}
// 		}
//
// 		.marketing {
//
// 			img {
//
// 			}
//
// 			.project_info {
//
// 				br {
//
// 				}
//
// 				.space20 {
//
// 				}
//
// 				.gal_btn {
//
// 				}
// 			}
//
// 			.pop {
//
// 				.gal_btn {
//
// 				}
//
// 				h6 {
//
// 				}
//
// 				p {
//
// 				}
//
// 				.links {
//
// 					.button {
//
// 						.fa {
//
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
//
//
//
//
//
//
// #contactMe {
//   background-color: #f91791;
//   text-align: center;
//   padding: 100px 0 120px 0;
//   position: relative;
//   color: #fff;
//   &:before {
//     -moz-transform: skewY(-3deg);
//     -ms-transform: skewY(-3deg);
//     -webkit-transform: skewY(-3deg);
//     transform: skewY(-3deg);
//     height: 90px;
//     width: 100%;
//     content: "";
//     top: -46px;
//     left: 0;
//     background: #f91791;
//     position: absolute;
//   }
//   h2 {
//     font-size: 40px;
//     padding: 0 0 35px;
//     color: #fff;
//     font-family: "Audrey-Normal", monospace;
//   }
//   .button {
//     border-color: #fff;
//     color: #fff;
//     clear: both;
//     z-index: 0;
//     &:hover {
//       color: #f91791;
//       background: #fff;
//       -moz-transition: all 0.25s ease-in-out;
//       -o-transition: all 0.25s ease-in-out;
//       -webkit-transition: all 0.25s ease-in-out;
//       transition: all 0.25s ease-in-out;
//     }
//     &:before {
//       background: #fff;
//     }
//   }
//   .contact-info {
//     margin: 0 auto;
//     font-size: 25px;
//     font-family: "Audrey-Normal", monospace;
//     a {
//       color: #fff;
//       text-decoration: none;
//       &:hover {
//         text-decoration: underline;
//         font-weight: bolder;
//       }
//     }
//     div {
//       display: inline-block;
//       + div {
//         margin: 0 0 0 20px;
//       }
//     }
//     .fa-mobile {
//       font-size: 38px;
//       float: left;
//       margin-right: 10px;
//       margin-top: -6px;
//     }
//   }
//   .social {
//     margin: 40px 0;
//     a i {
//       font-size: 24px;
//       -moz-border-radius: 100px;
//       -webkit-border-radius: 100px;
//       border-radius: 100px;
//       border: 2px solid #fff;
//       display: inline-block;
//       width: 55px;
//       height: 55px;
//       line-height: 55px;
//       margin: 0 5px;
//       -moz-transition: all 0.25s ease-in-out;
//       -o-transition: all 0.25s ease-in-out;
//       -webkit-transition: all 0.25s ease-in-out;
//       transition: all 0.25s ease-in-out;
//       color: #fff;
//       &:hover {
//         background-color: #fff;
//         color: #f91791;
//       }
//     }
//   }
//   .copy {
//     padding: 40px 0 0 0;
//   }
// }
//
// ////////////ANIMATIONS/////////////////
//
// @keyframes fadeInRight {
// 	0% {
// 		opacity: 0;
// 		left: 20%;
// 	}
// 	100% {
// 		opacity: 1;
// 		left: 0;
// 	}
// }
//
// @-webkit-keyframes fadeInUp {
// 	0% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 	}
//
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: none;
// 		transform: none;
// 	}
// }
//
// @keyframes fadeInUp {
// 	0% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 	}
//
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: none;
// 		transform: none;
// 	}
// }
//
// @-webkit-keyframes rotateWord {
// 	0% { opacity: 0; }
// 	2% { opacity: 0; -webkit-transform: translateY(-30px); }
// 	5% { opacity: 1; -webkit-transform: translateY(0px);}
// 	17% { opacity: 1; -webkit-transform: translateY(0px); }
// 	20% { opacity: 0; -webkit-transform: translateY(30px); }
// 	80% { opacity: 0; }
// 	100% { opacity: 0; }
// }
//
// @-ms-keyframes rotateWord {
// 	0% { opacity: 0; }
// 	2% { opacity: 0; -ms-transform: translateY(-30px); }
// 	5% { opacity: 1; -ms-transform: translateY(0px); }
// 	17% { opacity: 1; -ms-transform: translateY(0px); }
// 	20% { opacity: 0; -ms-transform: translateY(30px); }
// 	80% { opacity: 0; }
// 	100% { opacity: 0; }
// }
//
// @keyframes rotateWord {
// 	0% { opacity: 0; }
// 	2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
// 	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
// 	17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
// 	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
// 	80% { opacity: 0; }
// 	100% { opacity: 0; }
// }
//
// @-webkit-keyframes gif{
// 	0% {background-position: -5270px}
// 	100% {background-position: 1px}
// }
//
// @-moz-keyframes gif{
// 	from{background-position: -5270px}
// 	to{background-position: 1px}
// }
//
// @-ms-keyframes gif{
// 	from{background-position: -5270px}
// 	to{background-position: 1px}
// }
//
// @-o-keyframes gif{
// 	from{background-position: -5270px}
// 	to{background-position: 1px}
// }
//
// @keyframes gif{
// 	from{background-position: -5270px}
// 	to{background-position: 0}
// }
//
//
// @mixin vertical-align {
// 	position: relative;
// 	top: 50%;
// 	-webkit-transform: translateY(-50%);
// 	-ms-transform: translateY(-50%);
// 	transform: translateY(-50%);
// }
//
// @mixin transition {
// 	-moz-transition:    0.3s ease-in-out all;
// 	-o-transition:      0.3s ease-in-out all;
// 	-webkit-transition: 0.3s ease-in-out all;
// 	transition:         0.3s ease-in-out all;
// }
//
// @mixin filter($filter) {
// 	-webkit-filter: $filter;
// 	-moz-filter: $filter;
// 	-o-filter: $filter;
// }
//
//
// @keyframes draw {
//   0% {
//     width: 0%;
//   }
//   100% {
//     width: 110%;
//   }
// }
// @keyframes draw-bottom {
//   0% {
//     width: 0%;
//   }
//   100% {
//     width: 100%;
//   }
// }
// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
//
//  @-webkit-keyframes zigzag {
//   100% {
//     background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
//   }
// }
// @keyframes zigzag {
//   100% {
//     background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
//   }
// }
