@import "lesshat";
@import "compass";

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic,900,700italic,700,400italic|Abril+Fatface|Satisfy|Cookie|Ultra|Rochester|Monoton|Oleo+Script+Swash+Caps:400,700|Arizonia|Lily+Script+One|Sail|Clicker+Script|Amita:400,700|Mr+Bedfort|Euphoria+Script|Vidaloka|Goudy+Bookletter+1911|Sofia);

@import url(http://reset5.googlecode.com/hg/reset.min.css);

@font-face {
  font-family: 'Audrey-Normal';
  src: url('Audrey-Normal.otf');
}
* {
  box-sizing: border-box;
}

// body {
//   background-image: url("1167-withouttext.png");
//   padding: 0;
//   margin: 0;
//   font-size: 16px;
//   line-height: 1.5;
// }

headerimg-container{
  background-image: url("1167-withouttext.png");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 300px;
}
//
// #top {
//   background-color: white;
//   width: 100%;
//   height: 400px;
//   position: fixed;
// }
// ul, li, h1, h2, h3, h4, h5, h6, p, a, .logo {
//   font-family: "Abril Fatface";
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-weight: 400;
//   margin: 0;
//   padding: 0;
// }
//
// .logo {
//   float: left;
//   color: #000;
//   font-size: 50px;
//   line-height: 50px;
//   transition: 0.7s all;
// }
//
//
// .header {
//   height: 100%;
//   padding: 20px 0;
// background-color: black;
// text-align: center;
// }
.headerimg {
  width: 310px;
  height: 300px;
  background: url("http://i.imgur.com/ifckBKU.png");
  background-position: -4960px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

  /*
  shorthand would be
  -webkit-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  but that does not work with safari.
  */

  -webkit-animation-name: gif;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: steps(17,start);
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  -ms-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  -o-animation: gif 1s steps(17,start) 1.5s 1 forwards;
  animation: gif 1s steps(17,start) 1.5s 1 forwards;
}

@-webkit-keyframes gif{
  0% {background-position: -5270px}
  100% {background-position: 1px}
}

@-moz-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 1px}
}

@-ms-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 1px}
}

@-o-keyframes gif{
  from{background-position: -5270px}
  to{background-position: 1px}
}

@keyframes gif{
  from{background-position: -5270px}
  to{background-position: 0}
}

.container{
position:absolute;
top:30%;
left:calc(50% - 250px);
border:1px solid #909090;
width:640px;
height:32px;
margin:50px auto;
box-shadow:1px 1px 5px #404040;
}
//
// footer {
//   padding: 20px;
//   background: pink;
//   color: white;
//   text-align: center;
// }
//
// section{
//   position:relative;
//   width:100%;
// 	max-width: 640px;
//   margin:50px auto;
// }

nav{
  width:100%;
}

nav ul li{
  align-self: baseline;
  background-color: pink;
  display:inline-block;
  list-style:none;
  width:20%;
  text-align:center;
  font-family:'Audrey-Normal', sans-serif;
  border: 1px dashed rgba(255,255,255, 0);
  color:#fff;
  padding:20px 0 20px 0;
  margin:-1px -5px -1px -1px;
  cursor:pointer;
  transition:color .2s, background .2s;
  -webkit-transition:color .2s, background .2s;
}
nav ul li:hover{
background: white;
}

nav ul{
  border: 1px solid #fff;
  position:absolute;
  width:100%;
  padding:0;
  z-index:100;
}

.active{
  color:rgba(55, 186, 177, 1);
  background: #fff;
}


h1 {
  margin-top: 35px;
  text-align: center;
  font-size: 72px;
  font-family: 'Abril Fatface', sans-serif;;
  color: white;
  text-shadow: 2px 2px 2px #000;
}
//
// button {
// 	display:inline-block;
// 	text-align:center;
// 	padding:10px 0 10px 0;
// 	margin:0px 10px 0px 0px;
// 	width:150px;
// 	height: 50px;
//   cursor: pointer;
// 	border-radius: .5em;
// 	font-family: 'Audrey-Normal', serif;
// 	font-size: 16px;
// 	background-color: #E6B72D;
// 	border-color: #f91791;
// 	color: #C22E75;
// 	box-shadow: 0 0 40px 40px #f1c40f inset, 0 0 0 0 #ff5858;
// 	transition: all 150ms ease-in-out;
// }
// button::hover {
// 	color: white;
// 	box-shadow: 0 0 10px 0 #ff5858 inset, 0 0 10px 0 #f1c40f;
// }

/*contact page*/

//
// .contact p{
//   color: lime;
//   font-family: "Courier";
//   font-size: 20px;
//   /*padding-top: 100px;*/
//   margin: 150px 25px 25px 12em;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 50em;
//   animation: type 4s steps(60, end);
// }
//
// .contact p:nth-child(2){
//   animation: type2 8s steps(60, end);
// }
//
// .contact p a{
//   color: lime;
//   text-decoration: none;
// }
//
// .contact span{
//   animation: blink 1s infinite;
// }

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

// .contact ::selection{
//   background: black;
// }
///sections
// .intro{
//   background: url("1167-withouttext.png"), no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
//
// .aboutme{
//
// }
//
// .contact{
//
// }




.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

  .title scrollflow -slide-top -opacity {-webkit-filter: opacity(0.269923);
    transform: translate3d(0px, 73px, 0px) scale(1);
    transition: all 250ms ease-out;
}

.bio {
  -webkit-filter: opacity(0.0488432); transform: translate3d(-95px, 0px, 0px) scale(1); transition: all 250ms ease-out;
}

.links scrollflow {-webkit-filter: opacity(1); transform: translate3d(0px, 0px, 0px) scale(1); transition: all 250ms ease-out;
}

.tabs-menu title scrollflow -slide-top -opacity { -webkit-filter: opacity(0.0728363);
   transform: translate3d(0px, 92px, 0px) scale(1);
   transition: all 250ms ease-out;
 }
@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
