@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.optimism {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.optimism i {
  position: absolute;
  display: block;
  left: 50%;
  top: 86px;
  margin-bottom: 50px;
  width: 3px;
  height: 5px;
  background: red;
  opacity: 0;
}

.optimism:hover i:nth-of-type(1) {
  transform: translate3d(-14px, -59px, 0) rotate(126deg);
  background: #00aaff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(2) {
  transform: translate3d(34px, -99px, 0) rotate(288deg);
  background: #ff00d9;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(3) {
  transform: translate3d(37px, -65px, 0) rotate(231deg);
  background: #00fffb;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(4) {
  transform: translate3d(54px, -57px, 0) rotate(305deg);
  background: #40ff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(5) {
  transform: translate3d(84px, -78px, 0) rotate(82deg);
  background: #f700ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(6) {
  transform: translate3d(-11px, -99px, 0) rotate(115deg);
  background: #00ffea;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(7) {
  transform: translate3d(-49px, -61px, 0) rotate(351deg);
  background: #ff0091;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(8) {
  transform: translate3d(-72px, -64px, 0) rotate(341deg);
  background: #00ff8c;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(9) {
  transform: translate3d(18px, -60px, 0) rotate(59deg);
  background: #00ff51;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(10) {
  transform: translate3d(-27px, -56px, 0) rotate(33deg);
  background: #22ff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(11) {
  transform: translate3d(-43px, -63px, 0) rotate(81deg);
  background: #00ff62;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(12) {
  transform: translate3d(-72px, -97px, 0) rotate(347deg);
  background: #ff7b00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(13) {
  transform: translate3d(-15px, -69px, 0) rotate(64deg);
  background: #ff7b00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(14) {
  transform: translate3d(60px, -50px, 0) rotate(169deg);
  background: #ff0080;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(15) {
  transform: translate3d(8px, -55px, 0) rotate(151deg);
  background: #62ff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(16) {
  transform: translate3d(-69px, -53px, 0) rotate(304deg);
  background: #ff8000;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(17) {
  transform: translate3d(-1px, -72px, 0) rotate(325deg);
  background: #00ffb3;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(18) {
  transform: translate3d(-2px, -97px, 0) rotate(21deg);
  background: #8000ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(19) {
  transform: translate3d(-2px, -87px, 0) rotate(5deg);
  background: #ff2b00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(20) {
  transform: translate3d(-67px, -95px, 0) rotate(350deg);
  background: #00ff33;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(21) {
  transform: translate3d(31px, -53px, 0) rotate(218deg);
  background: #ff008c;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(22) {
  transform: translate3d(65px, -98px, 0) rotate(10deg);
  background: #1aff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(23) {
  transform: translate3d(-50px, -90px, 0) rotate(252deg);
  background: #00ff5e;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(24) {
  transform: translate3d(-62px, -75px, 0) rotate(180deg);
  background: #ff00dd;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(25) {
  transform: translate3d(-8px, -61px, 0) rotate(80deg);
  background: #40ff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(26) {
  transform: translate3d(-58px, -81px, 0) rotate(115deg);
  background: #b700ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(27) {
  transform: translate3d(-23px, -55px, 0) rotate(79deg);
  background: #5500ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(28) {
  transform: translate3d(63px, -77px, 0) rotate(196deg);
  background: #c400ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(29) {
  transform: translate3d(30px, -65px, 0) rotate(228deg);
  background: #ff0400;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(30) {
  transform: translate3d(-24px, -65px, 0) rotate(92deg);
  background: #ff0009;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(31) {
  transform: translate3d(-9px, -67px, 0) rotate(11deg);
  background: #fff200;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(32) {
  transform: translate3d(55px, -95px, 0) rotate(321deg);
  background: #ff6200;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(33) {
  transform: translate3d(-17px, -96px, 0) rotate(346deg);
  background: #00ff33;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(34) {
  transform: translate3d(-97px, -82px, 0) rotate(128deg);
  background: #ff0084;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(35) {
  transform: translate3d(-43px, -72px, 0) rotate(203deg);
  background: #00eaff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(36) {
  transform: translate3d(-24px, -78px, 0) rotate(283deg);
  background: #00ffa6;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(37) {
  transform: translate3d(-61px, -53px, 0) rotate(224deg);
  background: #0037ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(38) {
  transform: translate3d(-68px, -60px, 0) rotate(214deg);
  background: #00ff91;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(39) {
  transform: translate3d(11px, -55px, 0) rotate(194deg);
  background: #ff00e6;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(40) {
  transform: translate3d(-86px, -67px, 0) rotate(26deg);
  background: #00c4ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(41) {
  transform: translate3d(-86px, -71px, 0) rotate(122deg);
  background: #00ff91;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(42) {
  transform: translate3d(48px, -80px, 0) rotate(173deg);
  background: #ff006a;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(43) {
  transform: translate3d(-62px, -68px, 0) rotate(50deg);
  background: #00ff3c;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(44) {
  transform: translate3d(-77px, -74px, 0) rotate(216deg);
  background: #84ff00;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(45) {
  transform: translate3d(83px, -76px, 0) rotate(162deg);
  background: #00bbff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(46) {
  transform: translate3d(65px, -63px, 0) rotate(251deg);
  background: #ff00ae;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(47) {
  transform: translate3d(38px, -76px, 0) rotate(15deg);
  background: #00f7ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(48) {
  transform: translate3d(-16px, -78px, 0) rotate(143deg);
  background: #00eaff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(49) {
  transform: translate3d(30px, -89px, 0) rotate(142deg);
  background: #ff0080;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

.optimism:hover i:nth-of-type(50) {
  transform: translate3d(-2px, -97px, 0) rotate(200deg);
  background: #1500ff;
  animation: bang 700ms ease-out forwards infinite;
  opacity: 0;
}

#resume {
  background-color: #fff;
  padding: 80px 0 210px 0;
  text-align: center;
  position: relative;
}

#resume .holder {
  max-width: 1000px;
  margin: 0 auto;
}

#resume .holder .title h2:after {
  background-color: #f91791;
}

#resume .holder div button.current {
  background: #f91791;
  color: #fff;
}

#resume .holder div button {
  font-family: "Abril Fatface", serif;
  background-color: #fff;
  color: #000;
  border: 1px solid #f91791;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  height: 45px;
  line-height: 47px;
  min-width: 130px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

#resume .holder div button:before {
  opacity: 0;
  background: #f91791;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
  -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
  -moz-transition: -moz-transform 0.4s, opacity 0.4s, background-color 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s, background-color 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background-color 0.4s;
  transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  z-index: -1;
}

#resume .holder div button:hover {
  background: #f91791;
  color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

#resume .grid {
  margin-top: 50px;
}

#resume .grid:after {
  content: '';
  display: block;
  clear: both;
}

#resume .grid .grid-sizer {
  width: 30%;
}

#resume .grid .grid-item {
  width: 30%;
}

#resume .grid .grid-item img {
  display: block;
  max-width: 100%;
}

#resume .grid .grid-item img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#resume .grid .grid-item button {
  font-family: 'Abril Fatface', serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  height: 45px;
  line-height: 47px;
  padding: 0 25px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

#resume .grid .grid-item button:hover {
  border: 1px solid #000;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

#resume .grid .gallery_container {
  display: inline-flex;
  width: 400px;
  height: 300px;
  margin: 10px;
  position: relative;
  border: 1px solid #000;
}

#resume .grid .gallery_container img {
  width: 100%;
  height: 100%;
  outline: 1px solid #000;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

#resume .grid .gallery_container .project_info {
  width: 100%;
  height: 100%;
  font-family: "Abril Fatface", serif;
  font-size: 50px;
  color: #000;
  padding-top: 80px;
  background: #f91791;
  position: absolute;
  opacity: 0;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}

#resume .grid .gallery_container .project_info:hover {
  opacity: 0.9;
}

#resume .grid .gallery_container .project_info span {
  display: block;
  font-size: 16px;
}

.pop {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 85%;
  background: #fff;
  outline: 1px solid #000;
  z-index: 999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.pop::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.pop::after {
  position: fixed;
  content: "";
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  height: 2000px;
  width: 100%;
  margin-top: -340px;
  margin-bottom: -1000px;
  background: #000;
  opacity: 0.7;
}

.pop > h6 {
  padding: 50px 30px 20px 30px;
  color: #f91791;
  font-size: 50px;
  text-align: center;
}

.pop > p {
  margin: 20px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.pop > pstrong {
  color: #f91791;
}

.pop button.gal_btn {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
  font-size: 24px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid transparent;
  color: #f91791;
  background-color: transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.pop button .gal_btn {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
  font-size: 24px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid transparent;
  color: #f91791;
  background-color: transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.pop button .gal_btn:hover {
  color: #f91791;
  text-shadow: 1px 1px 1px #000;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.pop .closeX {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.pop .closeX:hover::before, .pop .closeX:hover::after {
  background: #f91791;
  text-shadow: 1px 1px 1px #000;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.pop .closeX::before, .pop .closeX::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}

.pop .closeX::before {
  transform: rotate(45deg);
}

.pop .closeX::after {
  transform: rotate(-45deg);
}

.pop .closeX.big {
  transform: scale(3);
}

.pop .closeX.hairline::before, .pop .closeX.hairline::after {
  height: 1px;
}

.pop .techUsed {
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.75em;
  text-align: center;
  color: #000;
  -webkit-animation: 3s fade;
  animation: 3s fade;
}

.pop .techUsed p {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.pop .techUsed h3 {
  display: inline-block;
  position: relative;
  padding: .5em .5em;
}

.pop .techUsed h3:before {
  display: block;
  content: '';
  width: 110%;
  margin-left: -5%;
  margin-bottom: 3%;
  border-top: 1px solid #000;
  -webkit-animation: 2.5s draw;
  animation: 2.5s draw;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.pop .techUsed h3:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  -webkit-animation: 2.5s draw-bottom;
  animation: 2.5s draw-bottom;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.pop .links {
  margin: 20px 0 0 0;
  text-align: center;
}

.pop .links a {
  margin: 0 0 0 15px;
  color: #f91791;
}

.pop .links a + a {
  margin: 0 0 0 15px;
  color: #f91791;
}

.pop .links a:hover {
  color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.pop .links a:hover i {
  color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.pop .links i {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  font-size: 18px;
  cursor: pointer;
  margin: 0 8px 0 0;
}

.pop i:hover, .pop .links i:hover {
  color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

@keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}

@keyframes draw-bottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
