@font-face {
	font-family: 'devicon';
	src:url('fonts/devicon.eot?-hdf3wh');
	src:url('fonts/devicon.eot?#iefix-hdf3wh') format('embedded-opentype'),
		url('fonts/devicon.woff?-hdf3wh') format('woff'),
		url('fonts/devicon.ttf?-hdf3wh') format('truetype'),
		url('fonts/devicon.svg?-hdf3wh#devicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="devicon-"], [class*=" devicon-"] {
	font-family: 'devicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.devicon-github-original-wordmark:before,
.devicon-github-plain-wordmark:before {
	content: "\e90a";
}
.devicon-github-original:before,
.devicon-github-plain:before {
	content: "\e90b";
}

.devicon-nodewebkit-line-wordmark:before {
	content: "\e611";
}

.devicon-nodewebkit-line:before {
	content: "\e612";
}

.devicon-nodewebkit-plain-wordmark:before {
	content: "\e613";
}

.devicon-nodewebkit-plain:before {
	content: "\e614";
}

.devicon-heroku-line-wordmark:before,
.devicon-heroku-original-wordmark:before {
	content: "\e60a";
}

.devicon-heroku-line:before,
.devicon-heroku-original:before {
	content: "\e60b";
}

.devicon-heroku-plain-wordmark:before {
	content: "\e60c";
}

.devicon-heroku-plain:before {
	content: "\e60f";
}

.devicon-angularjs-plain-wordmark:before {
	content: "\e61c";
}

.devicon-angularjs-plain:before {
	content: "\e61d";
}

.devicon-atom-original-wordmark:before,
.devicon-atom-plain-wordmark:before {
	content: "\e623";
}

.devicon-atom-original:before,
.devicon-atom-plain:before {
	content: "\e624";
}


.devicon-git-plain-wordmark:before {
	content: "\e7a7";
}

.devicon-git-plain:before {
	content: "\e7a8";
}

.devicon-html5-plain-wordmark:before {
	content: "\e7f6";
}

.devicon-html5-plain:before {
	content: "\e7f7";
}


.devicon-illustrator-line:before {
	content: "\e7f9";
}

.devicon-illustrator-plain:before {
	content: "\e7fa";
}


.devicon-javascript-plain:before {
	content: "\e845";
}

.devicon-jquery-plain-wordmark:before {
	content: "\e849";
}

.devicon-jquery-plain:before {
	content: "\e84a";
}

.devicon-mongodb-plain-wordmark:before {
	content: "\eb43";
}

.devicon-mongodb-plain:before {
	content: "\eb44";
}

.devicon-mysql-plain-wordmark:before {
	content: "\eb60";
}

.devicon-mysql-plain:before {
	content: "\eb61";
}

.devicon-nodejs-plain-wordmark:before {
	content: "\eb69";
}

.devicon-nodejs-plain:before {
	content: "\eb6a";
}

.devicon-photoshop-line:before {
	content: "\eb6c";
}

.devicon-photoshop-plain:before {
	content: "\eb6d";
}


.devicon-postgresql-plain-wordmark:before {
	content: "\eb7c";
}

.devicon-postgresql-plain:before {
	content: "\eb7d";
}

.devicon-python-plain-wordmark:before {
	content: "\eb88";
}

.devicon-python-plain:before {
	content: "\eb89";
}

.devicon-rails-plain-wordmark:before {
	content: "\eba2";
}

.devicon-rails-plain:before {
	content: "\eba3";
}

.devicon-ruby-plain-wordmark:before {
	content: "\ebc9";
}

.devicon-ruby-plain:before {
	content: "\ebca";
}

.devicon-sass-original:before,
.devicon-sass-plain:before {
	content: "\ebcb";
}

.devicon-wordpress-plain-wordmark:before {
	content: "\ebfd";
}

.devicon-wordpress-plain:before {
	content: "\ebfe";
}
