
.devicon-github-original.colored,
.devicon-github-plain.colored {
	color: #181616;
}


.devicon-angularjs-plain.colored {
	color: #c4473a;
}


.devicon-atom-original.colored,
.devicon-atom-plain.colored, {
	color: #67595D;
}

.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
	color: #3d8fc6;
}

.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored {
	color: #f34f29;
}

.devicon-heroku-line-wordmark.colored,
.devicon-heroku-line.colored,
.devicon-heroku-plain-wordmark.colored,
.devicon-heroku-plain.colored,
.devicon-heroku-original-wordmark.colored,
.devicon-heroku-original.colored {
	color: #6762a6;
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
	color: #e54d26;
}

.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
	color: #faa625;
}

.devicon-javascript-plain.colored {
	color: #f0db4f;
}

.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
	color: #0769ad;
}


.devicon-mongodb-plain.colored,
.devicon-mongodb-plain-wordmark.colored {
	color: #4FAA41;
}

.devicon-mysql-plain.colored,
.devicon-mysql-plain-wordmark.colored {
	color: #00618a;
}

.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
	color: #83CD29;
}
.devicon-nodewebkit-line.colored,
.devicon-nodewebkit-line-wordmark.colored,
.devicon-nodewebkit-plain.colored,
.devicon-nodewebkit-plain-wordmark.colored {
	color: #3d3b47;
}

.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
	color: #80b5e2;
}
.devicon-php-plain.colored {
	color: #6181b6;
}
.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
	color: #336791;
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
	color: #ffd845;
}
.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
	color: #a62c46;
}
.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
	color: #d91404;
}

.devicon-sass-original.colored,
.devicon-sass-plain.colored,
.devicon-sass-plain-wordmark.colored {
	color: #cc6699;
}

.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
	color: #494949;
}
